<div class="binding" [style.transform]="'rotate(' + (360 - angle) + 'deg)'" [style.height.px]="bootSize * 2"
     [style.width.px]="bootSize/5 * 4" [style.margin-left.px]="-bootSize/5 * 2" [style.margin-top.px]="(boardWidth - bootSize *2)/2  - bindingOffset*2">
  <div class="footbed" [style.width.px]="bootSize/5 * 4 -2" [style.height.px]="bootSize * 1.25" [style.margin-top.px]="bootSize/5 * 1.7">
    /\/\/\/\/\/\/\/\/\/\/\/\<br>
    /\/\/\/\/\/\/\/\/\/\/\/\<br>
    /\/\/\/\/\/\/\/\/\/\/\/\<br>
    /\/\/\/\/\/\/\/\/\/\/\/\<br>
    /\/\/\/\/\/\/\/\/\/\/\/\<br>
    /\/\/\/\/\/\/\/\/\/\/\/\<br>
    /\/\/\/\/\/\/\/\/\/\/\/\<br>
    /\/\/\/\/\/\/\/\/\/\/\/\<br>
    /\/\/\/\/\/\/\/\/\/\/\/\<br>
    /\/\/\/\/\/\/\/\/\/\/\/\<br>
    /\/\/\/\/\/\/\/\/\/\/\/\<br>
  </div>
</div>
